html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Comfortaa', sans-serif;
}

html {
  font-size: 18px;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.voice-marker {
  background-image: url('./icons/voicedMarkerIcon.svg');
  width: 48px;
  height: 48px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.comment-marker {
  background-image: url('./icons/commentMarkerIcon.svg');
  width: 48px;
  height: 48px;
  cursor: pointer;
}
